body {
    background: #e600c7;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background: #fdfdfd;
    border-radius: 10px;
    height: 90vh;
    width: 90vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

*,
*: before,
*: after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    display: grid;
    height: 80px;
    width: 250px;
    background: linear-gradient(#9365ff, #6f3bff);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10;
    place-items: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 10px;
    position: relative;
    top: 0px;

}